---
import Layout from '../layouts/Layout.astro';
---

<Layout title="ThangQT" description="Open-source developer and Linux enthusiast">
  <div class="home-app">
    <div class="home-content">
      <header class="home-greeting">
        <h1 class="home-greeting-name">ThangQT</h1>
      </header>

      <div class="home-body col-content">
        <p>
          Hello there! Welcome to my personal corner of the internet. I'm Thang, a computer science
          student at UET-VNU who likes tinkering and appreciating the little things along the way.
        </p>
        <p>
          Start with <a href="/writing" class="home-inline-link" data-window-link>writing</a> for notes,
          thoughts, and things I'm figuring out. Browse <a
            href="/projects"
            class="home-inline-link"
            data-window-link>projects</a
          >
          to see what I've been building, wander through <a
            href="/links"
            class="home-inline-link"
            data-window-link>links</a
          >
          for corners of the web I think are worth keeping around, or open <a
            href="/chitchat"
            class="home-inline-link"
            data-window-link>Chitchat</a
          >
          for small feed-style updates.
        </p>
        <p>
          If you want the fuller version, head over to
          <a href="/about" class="home-inline-link" data-window-link>about</a>
          to know more about me.
        </p>
      </div>
    </div>
  </div>
</Layout>
